# Node modules
node_modules/

# Next.js build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.local
.env.*.local

# MacOS & system files
.DS_Store

# IDE settings
.vscode/
